<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="MySmartHome">
    <meta name="author" content="NJL">
    <meta name="keywords" content="MySmartHome, mysmarthome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>About MySmartHome</title>

</head>

<body>
    <header>

    </header>

    <main>
        <h2>This is MySmartHome dashboard developed by NJ Lee. This application allows you to control 20 devices in your
            own home. You can add new devices as well as update and delete existing ones using the links below:</h2>
        <div>
            <div>
                <a href="/"><span>Home</span></a>
        
                <a href="/about"><span class="pointer">About</span></a>
        
                <a href="/add"><span class="pointer">Add a device</span></a>
        
                <a href="/show"><span class="pointer">View device statuses</span></a>
        
                <a href="/update"><span class="pointer">Update device settings</span></a>

                <a href="/delete"><span class="pointer">Delete devices</span></a>
            </div>
        </div>
    </main>
</body>

<footer>

</footer>

</html>