<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="MySmartHome">
    <meta name="author" content="NJL">
    <meta name="keywords" content="MySmartHome, mysmarthome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/index.css">
    <title>Welcome to MySmartHome!</title>

</head>

<body>
    <header>

    </header>

    <main>
        <h1>Welcome to MySmartHome! Please use the links to navigate to the relevant pages:</h1>
        <div>
            <div>
                <a href="/"><span>Home</span></a>

                <a href="/about"><span class="pointer">About</span></a>

                <a href="/add"><span class="pointer">Add a device</span></a>

                <a href="/show"><span class="pointer">View device statuses</span></a>

                <a href="/update"><span class="pointer">Update device settings</span></a>

                <a href="/delete"><span class="pointer">Delete device</span></a>
            </div>
        </div>
    </main>
</body>

<footer>

</footer>

</html>