<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="MySmartHome">
    <meta name="author" content="NJL">
    <meta name="keywords" content="MySmartHome, mysmarthome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/update.css">
    <title>Status of MySmartHome!</title>
</head>

<body>
    <div>
        <div>
            <a href="/"><span>Home</span></a>

            <a href="/about"><span class="pointer">About</span></a>

            <a href="/add"><span class="pointer">Add a device</span></a>

            <a href="/show"><span class="pointer">View device statuses</span></a>

            <a href="/update"><span class="pointer">Update device settings</span></a>

            <a href="/delete"><span class="pointer">Delete device</span></a>
        </div>
    </div>

    <h1> Please select a device to update its settings: </h1>

    <h3>list of devices:</h3>

    <form method="POST" action="/updated">
        <% if(devices != undefined) devices.forEach(function(device){ %>

        <ul>
            <li><a href="/update/<%=device.id%>"><%= device.name %> (<%= device.type %>)</a></li>
        </ul>

        <% }) %>

        <% if(statuses != undefined){ %>
        <ul class="statuses">

            <li>
                <input class="hidden-field" type="text" name="id" value="<%= statuses[0].id %>" readonly>
            </li>

            <%if(statuses[0].name != "NA") {%>
            <li>Device Name: <input class="input-field" type="text" name="namedevice" value="<%= statuses[0].name %>"></li>
            <% } else {%>
            <input class="hidden-field" type="text" name="namedevice" value="<%= statuses[0].name %>">
            <% } %>
        
            <li>Device Type: <input class="input-field" type="text" name="devicetype" value="<%= statuses[0].type %>" readonly></li>

            <%if(statuses[0].OnOff != "NA") {%>
            <li>On/Off Status: 
                    <select name="onoff">
                        <%if(statuses[0].OnOff == "off") {%>
                        <option value="off" selected>Off</option>
                        <option value="on">On</option>

                        <% } else {%>
                        <option value="on" selected>On</option>
                        <option value="off">Off</option>
                        <% }%>
                    </select>
            <% } else {%>
                    <select name="onoff" class="hidden-field">
                        <option value="NA" selected></option>
                    </select>
            <% } %>

            <%if(statuses[0].OpenClose != "NA") {%>
            <li>Open/Close Status: 
                <select name="openclose">
                    <%if(statuses[0].OpenClose == "close") {%>
                    <option value="close" selected>Close</option>
                    <option value="open">Open</option>
                
                    <% } else{%>
                    <option value="open" selected>Open</option>
                    <option value="close">Close</option>
                    <% }%>
                </select>
            <% } else {%>
                <select name="openclose" class="hidden-field">
                    <option value="NA" selected></option>
                </select>
            <% } %>

            <%if(statuses[0].wifi != "NA") {%>
            <li>Wifi: 
                <select name="wifi">
                    <%if(statuses[0].wifi == "disconnect") {%>
                    <option value="disconnect" selected>Disconnect</option>
                    <option value="connect">Connect</option>
                
                    <% } else{%>
                    <option value="connect" selected>Connect</option>
                    <option value="disconnect">Disconnect</option>
                    <% }%>
                </select>
            </li>
            <% } else {%>
                <select name="wifi" class="hidden-field">
                    <option value="NA" selected></option>
                </select>
            <% } %>


            <%if(statuses[0].temperature != "NA") {%>
            <li>Temperature: <input class="input-field" type="text" name="temperature" value="<%= statuses[0].temperature %>"></li>
            <% } else { %>
                <input class="hidden-field" type="text" name="temperature" value="<%= statuses[0].temperature %>">
            <% }  %>

            <%if(statuses[0].volume != "NA") {%>
            <li>Volume: <input class="input-field" type="text" name="volume" value="<%= statuses[0].volume %>"></li>
            <% } else { %>
            <input class="hidden-field" type="text" name="volume" value="<%= statuses[0].volume %>">
            <% }  %>

            <%if(statuses[0].timer != "NA") {%>
            <li>Timer: <input class="input-field" type="text" name="timer" value="<%= statuses[0].timer %>"></li>
            <% } else { %>
            <input class="hidden-field" type="text" name="timer" value="<%= statuses[0].timer %>">
            <% }  %>
        </ul>

        <input type="submit" value="Change Setting" />

        <a href="/update">Back to Update Page</a>
        <% } %>
    </form>
</body>

</html>